html {
    text-align: center;
}
.menu a {
    display: inline-block;
    font-family: "Hiragino Kakugo ProN", sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 60px 0;
    margin: 30px;
}

h1 {
    font-family: "Hiragino Kakugo ProN", sans-serif;
    font-size: 44px;

}
img {
    margin: 30px;
}

div p {
    font-size: 16px;
    font-family: "Hiragino Kakugo ProN", sans-serif;
}

#box {
    width: 300px;
    height: 81px;
    background-color: #2d52a5;
    display: inline-block;
    margin: 30px;
    text-align: center;
    
}
#box a {
    display: inline-block;
    margin: 30px;
    font-family: "Hiragino Kakugo ProN", sans-serif;
    font-size: 18px;
    color: #fff;
}

.footer {
    display: inline-block;
    background-color: #2d52a5;
    width: 1200px;
    height: 300px;
}

.footer a {
    display: inline-block;
    font-family: "Hiragino Kakugo ProN", sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 20px 0;
    margin: 30px;
}

.footer p {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin: 30px;

}

