body {
    background-color: #fff;
    max-width: 400px;
}

#main-visual > img {
    width: 400px;
    text-align: center;
    
}

.main-logo {
    display: flex;
    justify-content: space-between;
    
}

.main-logo img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.main-logo2 {
    display: flex;
    justify-self: center;
}